# Dependencies
/node_modules

# Environment variables
# Contém segredos como chaves de API, senhas de banco de dados, etc.
# NUNCA deve ser enviado para o repositório.
.env

# Runtime Data
/sessions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Vercel specific
.vercel

# macOS specific
.DS_Store